@import '_vars';
@import 'modules/nav';

@font-face {
    font-family: 'Roboto' sans-serif;
    src: url("../css/Roboto-Regular.woff"),
         url("../css/Roboto-Regular.woff2"); }

@font-face {
 font-family: 'Oswald', sans-serif;
 src: url("../css/Oswald-Regular.woff"),
      url("../css/Oswald-Regular.woff");}

@media only screen and 
(max-width : 479px) {
body{margin: 0 auto;
overflow-x:hidden;}


#Main-img{
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 50vh;

    span{
        font-family:$h-font;
        font-size: 2.5rem;
        position: relative;
        top: 40px;
        left: 10px;

    }
}

//about section

#about{
    width: 100vw;
    height: 30vh;

h1{
color: $main;
font-family: $h-font;
font-size: 2.5rem;
padding-top: 7vh;
padding-left: 3vw;

}

p{
font-size: 14px;
padding-left: 3vw;
padding-right: 3vw;
padding-top: 4vh;
font-family:$b-font;
line-height: 20px;
}

    }


//video
#video{
width: 100vw;
 button{
    margin-bottom: 3vh;
 }

video{
    width:100vw;
    display: none;
}

}

#play{
width: 100vw;
height: 30vh;
background-color: $main;

h1{
color: white;
font-size: 4rem;
padding: 20px;
font-family: $h-font;
}

p{
color: white;
font-family: $b-font;
font-size: 14px;
padding: 15px;
line-height: 20px;
}

}

//play section

#playFirst{

width: 100vw;
height: 120vh;
display: flex;
flex-direction: row;


.elora,.algoma{
width: 50vw;
height: 60vh;
img{
width: 100vw;
height: 40vh;
border-radius: 3px;
}

h2{font-family: $b-font; font-size: 10px;}
p{font-family: $b-font; font-size: 13px;}

}
}


}