@import '_vars';

@media only screen and 
(max-width : 479px) {
   #main_Footer{
        margin-top: 10vh;
        display:flex;
        flex-direction: row;
        h1{
        font-family: $h-font;
        color: $main;
        font-size: 2rem;
        
        }
        ul{  margin
            li {justify-content: space-evenly;
                i{
                color: $main;
                width: 100px; height: 100px;}}
        }
    }


}